*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

/*styling navigation bar*/


header{
    background-color: navajowhite;
    padding: 10px;
    color:black;
}

#header{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    max-width:1200px;
    align-items: center;

}

#navbar{
    display:flex;
    justify-content: space-between;

}

#navbar li{
    padding: 10px;
    
}

#navbar li {
    list-style: none;
}

#navbar li a{
    color:black;
    font-family: 'Trispace', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

/*styling intro section*/

.name{
    max-width: 1200px;
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-weight: 200px;
}

#intro{
    display:grid;
    
    align-items: center;
    background-color:antiquewhite;
    

}

.line1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    padding:40px ;
    text-align: center;
    
}

.line2{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-top:5px;
    padding-left: 400px;
    padding-bottom:40px;
    text-align:center;
    
    
}

/*styling products section*/

#products {
    
    background-color:gainsboro;
    
}

#products p{
    padding:40px;
    font-size:30px;
    font-family: "bebas-neue", sans-serif;
    font-weight: 10px;
}

.list{
    display: grid;
    list-style: none;;


}

.list h4{
    padding:40px;
    padding-left: 80px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight:0px;
    color:rgba(6, 5, 5, 0.913);
}

#samsung{
    display: flex;
    list-style: none;
}

#samsung img{
    height:auto;
    min-height: 100px;
    max-height: 200px;
    padding-left:80px;
    background-color: gainsboro;
    border-radius: 20px;
    border-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 40px;

}

#specifications{
    padding:40px;
    padding-left:80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#apple{
    display:flex;
    list-style: none;
}

#apple img{
    height:auto;
    min-height: 100px;
    max-height: 200px;
    padding-left:80px;
    background-color: gainsboro;
    border-top-right-radius: 10px;
    border-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 40px;
    padding-bottom: 20px;

}

/*styling about section*/


#about-us{
    padding:40px;
    display:grid;
    background-color: blanchedalmond;
    padding-bottom:80px;
}

#about-us h2{
    font-family:'Playfair Display', serif;
    font-size:40px;
    padding-bottom:10px;
    padding-left:100px;
    padding-right: 100px;
    text-align: center;
}
#about-us img{
    height:80px;
    width:80px;
    border-radius: 20px;;
    
}

#about-us ol{
    list-style: none;
    padding:40px;
    padding-left:100px;
    padding-right:100px ;
    text-align:center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.moto{
    padding-left:100px;
    padding-right:100px;
    text-align: center;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*styling contact section*/

#contact{

    text-align: center;
    display: grid;
    padding:40px;
    background-color: navajowhite;

}

#contact h2{
    font-family: 'Trispace', sans-serif;
    font-size:20px;
}

#contact p{
    padding:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contact form{
    
    display: grid;
    padding:10px;
    max-width:600px;
    margin: 0 auto;
    text-align: left;
    
}

#contact label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: weight 10px;
    padding:5px;


}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea{
    max-width: 600px;
    
    
    padding:10px;
    border:solid 2px solid;
    border-radius: 10px;;

}

#contact button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    margin-top: 10px;
    background-color: black;
    color:aliceblue;
    border-radius:10px;
    cursor: pointer;
    
}
         
         



















/*
#contact{
    padding:40px;
    background-color:navajowhite;
    text-align: center;

}

form{
    display:grid;
    padding:10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;

}

#contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}*/

/*styling footer section*/


footer{
    padding:10px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    background-color: black;
    color:white;
}
